In [16]:
import pandas as pd
import math

In [6]:
stock_data = pd.read_csv('stock_data.csv', parse_dates=['Date'], index_col='Date')

In [7]:
stock_data.head()

                Amazon    Facebook
Date
2016-01-04  636.989990  102.220001
2016-01-05  633.789978  102.730003
2016-01-06  632.650024  102.970001
2016-01-07  607.940002   97.919998
2016-01-08  607.049988   97.330002

In [8]:
population_mean_2016 = stock_data['Amazon'].mean()
standard_dev_2016 = stock_data['Amazon'].std()
print("Poplation Mean of 2016 Amazon Stock Data:", population_mean_2016)
print("Satadard Deviation of 2016 Amazon Stock Data:", standard_dev_2016)

Poplation Mean of 2016 Amazon Stock Data: 699.5231348611112
Satadard Deviation of 2016 Amazon Stock Data: 92.36231245344666

In [9]:
sample_stock_data = stock_data.last('6M')

In [12]:
sample_stock_data.head()

                Amazon    Facebook
Date
2016-07-01  725.679993  114.190002
2016-07-05  728.099976  114.199997
2016-07-06  737.609985  116.699997
2016-07-07  736.570007  115.849998
2016-07-08  745.809998  117.239998

In [14]:
sample_mean_2016 = sample_stock_data['Amazon'].mean()
sample_std_2016 = sample_stock_data['Amazon'].std()
print("Sample Mean of 2016 Amazon Stock Data:", sample_mean_2016)
print("Sample Standard Deviation of 2016 Amazon Stock Data:", sample_std_2016)

Sample Mean of 2016 Amazon Stock Data: 774.5040162913386
Sample Standard Deviation of 2016 Amazon Stock Data: 29.99730623699606

In [15]:
sample_stock_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 127 entries, 2016-07-01 to 2016-12-30
Data columns (total 2 columns):
Amazon      127 non-null float64
Facebook    127 non-null float64
dtypes: float64(2)
memory usage: 3.0 KB

In [17]:
zscore_test_stat = ((sample_mean_2016 - population_mean_2016)*math.sqrt(127))/sample_std_2016

In [18]:
zscore_test_stat

28.168916675508402

In [20]:
(774.50 - 699.52) / (92.36 / math.sqrt(127))

9.148783961297713